# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\projects\spring\my-spring-lesson3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
